body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  &.dyslexic {
    font-family: "OpenDyslexic", sans-serif;
    font-size: 10pt;
    button {
      font-family: "OpenDyslexic", sans-serif;
    }
  }
}

* {
  box-sizing: border-box;
}

#page-container {
  --fg-color: #111;
  --bg-color: #eee;
  --accent-color: rgba(200,220,200);
  a:link {
    color: #1e47ff;
  }
  a:visited {
    color: #9422b6;
  }
  &.view-light {
    --fg-color: #111;
    --bg-color: #eee;
    --accent-color: rgba(200,220,200);
    a:link {
      color: #1e47ff;
    }
    a:visited {
      color: #9422b6;
    }
  }
  &.view-dark {
    --fg-color: #ddd;
    --bg-color: #111;
    --accent-color: rgba(50,70,50);
    a:link {
      color: #8699ff;
    }
    a:visited {
      color: #dfa3f1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #page-container {
    --bg-color: #111;
    --fg-color: #ddd;
    --accent-color: rgba(50,70,50);
  }
}
